body{
    font-family: arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url("space_serpent/sprites/bg_stars.png");
    background-repeat: repeat;
    overflow: hidden;

}


#div_gamingAutomat{
    text-align: center;
    height: 100%;
    position: relative;
}


img{
    position: absolute;
    vertical-align: middle;
}

#Background{
    height: 100%;
    top: 0;
    
}

#Animation{
    height: 57.5vh;
    width: 64vh;
    left: 68vw;
    top: 32vh;
    z-index: 1;
}
