body{
    font-family: arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: darkgrey;

}

#img_gamingAutomat{
    height: 100%;
    
}

#div_gamingAutomat{
    text-align: center;
}
