#game {
    border: 2px solid white;
    padding: 0;
    margin: auto;
    display: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#instruction {
    background-image: url("sprites/Space003.png");
    background-size: 200%;
    background-repeat: repeat;
    border: 2px solid black;
    padding: 0;
    margin: auto;
    display: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 58%;
}
#highScore {
    background-image: url("sprites/Space003.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border: 2px solid black;
    padding: 0;
    margin: auto;
    display: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 62%;
    right: 0;
}


html {
    height: 90%;
    width: 90%;
    overflow: hidden;
    background-color: black;
    background-image: url("sprites/bg_stars.png");
    background-repeat: repeat;

  }



